<app-nav2></app-nav2>

<div class="container">
    <div class="container-content">
   
        <div class="header">Pay with M-pesa on your phone</div>

        <div class="number">Order Number: <span>782618</span></div>
        <div class="number">Order Amount: <span>Kes 5,000</span></div>

        <div class="instruct one">Enter your phone number below and we will make a request for payment to your phone. 
            You will be prompted for your M-Pesa pin on your phone. </div>

        <div class="instruct">M-pesa Phone number:</div>

        <input type = "text">

        <div class="btn-pay">Pay</div>
</div>
</div>
