<div class="container">

  <div class="sample-one py-8 xl:flex md:block sm:block xl:gap-8">
    <div class="img xl:w-4/12 sm:w-12/12">
      <img src="/assets/images/download__1_-removebg-preview 1.png">
    </div>

    <div class="details xl:w-8/12 md:w-12/12 sm:w-12/12 xl:flex md:flex sm:block md:mx-4 gap-4">
      <div class="words w-8/12 md:w-8/12 sm:w-12/12">
        <div class="title">Engine Cover Toyota Land cruiser Fj100</div>
        <div class="label">Product code: R0001234</div>
        <div class="price">KES 6,500.00</div>
        <div class="status">Delivered</div>
        <div class="date">Monday 26-10-2023</div>
      </div>

      <div class="small w-4/12 md:w-4/12 sm:w-12/12">
        <img src="/assets/images/download__1_-removebg-preview (1) 1.png">
      </div>
    </div>

  </div>

<a class="btn-shop" routerLink="/shop">Back to shop</a>

</div>
