<div class="container">

<div class="sample-one">

  <div class="flex">
  <img src="/assets/images/download__1_-removebg-preview 1.png">

  <div class="details">
      <div class="title">Engine Cover Toyota Land cruiser Fj100</div>
      <div class="label">Product code: R0001234</div>
      <div class="price">KES 6,500.00</div>
      <img class="small" src="/assets/images/download__1_-removebg-preview (1) 1.png">
      <div class="status">DELIVERED</div>
      <div class="date" routerLink="/shop">Monday 26-05</div>
  </div>
   </div>
</div>
<div class="btn-shop">Back to shop</div>
</div>