

<div class="containeR">
  <app-navbar></app-navbar>

    <!-- <div class="exquisite">
        <div class="carousel">
         <div class="images"> 
          <div class="slideshow-container">
      
            <div class="mySlides fade">
              <img src="https://apis.xogrp.com/media-api/images/d94290d4-b45f-411c-b1d4-d4130b413745">
            </div>
            
            <div class="mySlides fade">
              <img src="https://img.freepik.com/free-photo/composition-with-plate-cutlery-romantic-dinner-valentine-s-day-dating-concept_169016-9543.jpg?w=996&t=st=1685815801~exp=1685816401~hmac=8fb8455e4e981b09f07ae5115511ef275ce580633c48024a64fba09e64aa7bb6">
            </div>
    
            <div class="mySlides fade">
              <img src="https://apis.xogrp.com/media-api/images/d94290d4-b45f-411c-b1d4-d4130b413745">
            </div>
          </div>
          <br>
        
          <div class="dots" style="text-align:center">
            <span class="dot"></span> 
            <span class="dot"></span> 
            <span class="dot"></span> 
          </div>
        </div>
        </div>
</div> -->

<div class="slideshow-container">
 
  <div class="mySlides fade">
    <img src="https://apis.xogrp.com/media-api/images/d94290d4-b45f-411c-b1d4-d4130b413745">
  </div>
 
  <div class="mySlides fade">
    <img src="https://img.freepik.com/free-photo/composition-with-plate-cutlery-romantic-dinner-valentine-s-day-dating-concept_169016-9543.jpg?w=996&t=st=1685815801~exp=1685816401~hmac=8fb8455e4e981b09f07ae5115511ef275ce580633c48024a64fba09e64aa7bb6">
  </div>

  <div class="mySlides fade">
    <img src="https://apis.xogrp.com/media-api/images/d94290d4-b45f-411c-b1d4-d4130b413745">
  </div>
</div>

<app-footer></app-footer>

</div>

