<div class="NaV container-full">

<div class="top-naV">

    <div class="contacT">

        <div class="fleX">

            <div class="icoN"> <i class="fa-solid fa-envelope"></i></div>

            <div class="texT">info@gmail.com</div>
        </div>

        <div class="fleX">

            <div class="icoN"><i class="fa-solid fa-phone"></i></div>

            <div class="texT"> 07XX XXX XXX</div>

        </div>

    </div>

    <div class="autH">

        <div class="flex-twO reD">

            <div class="icon-twO"><i class="fa-solid fa-user-plus"></i></div>

            <div class="text-twO">Sign up</div>

        </div>

        <div class="flex-twO">

            <div class="icon-twO"><i class="fa-solid fa-right-to-bracket"></i></div>

            <div class="text-twO">Log in </div>

        </div>
    </div>

</div>

<div class="middle-naV">

    <div class="logO">
        <img src="/assets/lensplug 1.png">
    </div>

    <div class="searcH">

        <input type="text" placeholder="Search for brand, part or category">

        <div class="search-icoN"><i class="fa-solid fa-magnifying-glass"></i></div>

    </div>

    <div class="carT"><i class="fa-solid fa-cart-shopping"></i></div>

</div>

<div class="main-naV">
    
    <ul>
        <select>All CATEGORIES
            <option> </option>
        </select>

        <li>HOME</li>

        <li>SHOP</li>

        <li>ORDERS</li>

    </ul>

</div>

</div>

