

<div class="containeR">
  <app-navbar></app-navbar>

    <!-- <div class="exquisite">
        <div class="carousel">
         <div class="images"> 
          <div class="slideshow-container">
      
            <div class="mySlides fade">
              <img src="https://apis.xogrp.com/media-api/images/d94290d4-b45f-411c-b1d4-d4130b413745">
            </div>
            
            <div class="mySlides fade">
              <img src="https://img.freepik.com/free-photo/composition-with-plate-cutlery-romantic-dinner-valentine-s-day-dating-concept_169016-9543.jpg?w=996&t=st=1685815801~exp=1685816401~hmac=8fb8455e4e981b09f07ae5115511ef275ce580633c48024a64fba09e64aa7bb6">
            </div>
    
            <div class="mySlides fade">
              <img src="https://apis.xogrp.com/media-api/images/d94290d4-b45f-411c-b1d4-d4130b413745">
            </div>
          </div>
          <br>
        
          <div class="dots" style="text-align:center">
            <span class="dot"></span> 
            <span class="dot"></span> 
            <span class="dot"></span> 
          </div>
        </div>
        </div>
</div> -->

<!-- <div class="slideshow-container">
 
  <div class="mySlides fade">
    <img src="https://apis.xogrp.com/media-api/images/d94290d4-b45f-411c-b1d4-d4130b413745">
  </div>
 
  <div class="mySlides fade">
    <img src="https://img.freepik.com/free-photo/composition-with-plate-cutlery-romantic-dinner-valentine-s-day-dating-concept_169016-9543.jpg?w=996&t=st=1685815801~exp=1685816401~hmac=8fb8455e4e981b09f07ae5115511ef275ce580633c48024a64fba09e64aa7bb6">
  </div>

  <div class="mySlides fade">
    <img src="https://apis.xogrp.com/media-api/images/d94290d4-b45f-411c-b1d4-d4130b413745">
  </div>
</div>  -->

<div class="categories">

<div class="category-one">

  <div class="inner">

    <div class="header">Headlights & Lighting</div>

    <div class="view">View All</div>

  </div>
</div>

  <div class="sample-one">

      <img src="/assets/images/backscreen 2 (1).png">

      <div class="text">Fan Shroud Toyota Hilux Vigo 2kd 2004 - 2012 Diesel</div>
      <div class="price">Ksh 2,500.00</div>

  </div>

  <div class="sample-one">

    <img src="/assets/images/backscreen 2 (1).png">

    <div class="text">Fan Shroud Toyota Hilux Vigo 2kd 2004 - 2012 Diesel</div>
    <div class="price">Ksh 2,500.00</div>

</div>

<div class="sample-one">

  <img src="/assets/images/backscreen 2 (1).png">

  <div class="text">Fan Shroud Toyota Hilux Vigo 2kd 2004 - 2012 Diesel</div>
  <div class="price">Ksh 2,500.00</div>

</div>

<div class="sample-one">

  <img src="/assets/images/backscreen 2 (1).png">

  <div class="text">Fan Shroud Toyota Hilux Vigo 2kd 2004 - 2012 Diesel</div>
  <div class="price">Ksh 2,500.00</div>

</div>

</div>

<div class="filler">
  
  <!-- <div class="filler-image"> -->
    <div class="text2">NUMBER 1 SUPPLIER OF CAR PARTS</div>
  <!-- </div> -->

</div>

<div class="categories">

  <div class="category-two">
  
    <div class="inner">
  
      <div class="header">Acessories</div>
  
      <div class="view">View All</div>
  
    </div>
  </div>
  
    <div class="sample-one">
  
        <img src="/assets/images/engine 2.png">
  
        <div class="text">Fan Shroud Toyota Hilux Vigo 2kd 2004 - 2012 Diesel</div>
        <div class="price">Ksh 2,500.00</div>
  
    </div>
  
    <div class="sample-one">
  
      <img src="/assets/images/engine 2.png">
  
      <div class="text">Fan Shroud Toyota Hilux Vigo 2kd 2004 - 2012 Diesel</div>
      <div class="price">Ksh 2,500.00</div>
  
  </div>
  
  <div class="sample-one">
  
    <img src="/assets/images/engine 2.png">
  
    <div class="text">Fan Shroud Toyota Hilux Vigo 2kd 2004 - 2012 Diesel</div>
    <div class="price">Ksh 2,500.00</div>
  
  </div>
  
  <div class="sample-one">
  
    <img src="/assets/images/engine 2.png">
  
    <div class="text">Fan Shroud Toyota Hilux Vigo 2kd 2004 - 2012 Diesel</div>
    <div class="price">Ksh 2,500.00</div>
  
  </div>
  
  </div>

  <div class="categories">

    <div class="category-three">
    
      <div class="inner">
    
        <div class="header">Cooling Parts</div>
    
        <div class="view">View All</div>
    
      </div>
    </div>
    
      <div class="sample-one">
    
          <img src="/assets/images/engine 2 (1).png">
    
          <div class="text">Fan Shroud Toyota Hilux Vigo 2kd 2004 - 2012 Diesel</div>
          <div class="price">Ksh 2,500.00</div>
    
      </div>
    
      <div class="sample-one">
    
        <img src="/assets/images/engine 2 (1).png">
    
        <div class="text">Fan Shroud Toyota Hilux Vigo 2kd 2004 - 2012 Diesel</div>
        <div class="price">Ksh 2,500.00</div>
    
    </div>
    
    <div class="sample-one">
    
      <img src="/assets/images/engine 2 (1).png">
    
      <div class="text">Fan Shroud Toyota Hilux Vigo 2kd 2004 - 2012 Diesel</div>
      <div class="price">Ksh 2,500.00</div>
    
    </div>
    
    <div class="sample-one">
    
      <img src="/assets/images/engine 2 (1).png">
    
      <div class="text">Fan Shroud Toyota Hilux Vigo 2kd 2004 - 2012 Diesel</div>
      <div class="price">Ksh 2,500.00</div>
    
    </div>
    
    </div>

    <div class="partners">
      <div class="title"> Our Brands</div>

      <div class="brands">
        <img src="/assets/images/logo2.png">
        <img src="/assets/images/logo1.png">
        <img src="/assets/images/logo6 1.png">
        <img src="/assets/images/logo3.png">
        <img src="/assets/images/logo4.png">
      </div>
    </div>

<app-footer></app-footer>

</div>

