<app-navbar></app-navbar>
<div class="container">

    <div class="flex">

        <div class="list">

            <div class="categories">
                <div class="header">Categories</div>
                <ul class="cat-list">
                    <li class="one">All Products <span> (38)</span></li>
                    <li>Body Parts <span> (18)</span></li>
                    <li>Automotive Tools <span> (12)</span></li>
                    <li>Exhaust System <span> (08)</span></li>
                    <li>Exterior <span> (11)</span></li>
                    <li>Headlights & Lighting <span> (28)</span></li>
                    <li>Interior <span> (01)</span></li>
                    <li>Oils & Lubricants <span> (14)</span></li>
                    <li>Security & Locking <span> (22)</span></li>
                    <li>Perfomance <span> (09)</span></li>
                </ul>

            </div>

            <div class="brands">
                <div class="header">Brands</div>
                <ul class="brand-list">
                    <li>value <span> (18)</span></li>
                    <li>FPI <span> (12)</span></li>
                    <li>CASP <span> (08)</span></li>
                    <li>NHI <span> (11)</span></li>
                    <li>Autocess <span> (28)</span></li>
                    <li>GBT <span> (01)</span></li>
                    <li>Depo<span> (14)</span></li>
                    <li>AkI <span> (22)</span></li>
                </ul>

            </div>

        </div>

    <div class="items">

        <div class="items1">
            <a class="sample-one" routerLink="/shop/product-details">
                <img src="/assets/images/tyreee 1 (1).png">
                <div class="label">Exhaust System</div>
                <div class="text">PIRELLI TIRES® SCORPION STR</div>
                <div class="price">Ksh 1,200.00</div>
            </a>

            <div class="sample-one">
                <img src="/assets/images/tyreee 1 (2).png">
                <div class="label">Headlights & Lighting</div>
                <div class="text">AmeriPLATINUM Coated Brake Kit</div>
                <div class="price">Ksh 62,200.00</div>
            </div>

            <div class="sample-one">
                <img src="/assets/images/tyreee 1 (3).png">
                <div class="label">Security and locking</div>
                <div class="text">Classic™ Lowback Racing Seat</div>
                <div class="price">Ksh 46,800.00</div>
          
            </div>
        </div>

        <div class="items2">
            <div class="sample-one">
                <img src="/assets/images/tyreee 1 (2).png">
                <div class="label">Headlights & Lighting</div>
                <div class="text">AmeriPLATINUM Coated Brake Kit</div>
                <div class="price">Ksh 62,200.00</div>
            </div>

            <div class="sample-one">
                <img src="/assets/images/tyreee 1 (3).png">
                <div class="label">Security and locking</div>
                <div class="text">Classic™ Lowback Racing Seat</div>
                <div class="price">Ksh 46,800.00</div>
            </div>

            <div class="sample-one">
                <img src="/assets/images/tyreee 1 (1).png">
                <div class="label">Exhaust System</div>
                <div class="text">PIRELLI TIRES® SCORPION STR</div>
                <div class="price">Ksh 1,200.00</div>
            </div>

        </div>

        
        <div class="items3">
            <div class="sample-one">
                <img src="/assets/images/tyreee 1 (1).png">
                <div class="label">Exhaust System</div>
                <div class="text">PIRELLI TIRES® SCORPION STR</div>
                <div class="price">Ksh 1,200.00</div>
          
            </div>

            <div class="sample-one">
                <img src="/assets/images/tyreee 1 (2).png">
                <div class="label">Headlights & Lighting</div>
                <div class="text">AmeriPLATINUM Coated Brake Kit</div>
                <div class="price">Ksh 62,200.00</div>
            </div>

            <div class="sample-one">
                <img src="/assets/images/tyreee 1 (3).png">
                <div class="label">Security and locking</div>
                <div class="text">Classic™ Lowback Racing Seat</div>
                <div class="price">Ksh 46,800.00</div>
          
            </div>

        </div>

        
        <div class="items4">
            <div class="sample-one">
                <img src="/assets/images/tyreee 1 (3).png">
                <div class="label">Security and locking</div>
                <div class="text">Classic™ Lowback Racing Seat</div>
                <div class="price">Ksh 46,800.00</div>
            </div>

            <div class="sample-one">
                <img src="/assets/images/tyreee 1 (1).png">
                <div class="label">Exhaust System</div>
                <div class="text">PIRELLI TIRES® SCORPION STR</div>
                <div class="price">Ksh 1,200.00</div>
            </div>

            <div class="sample-one">
                <img src="/assets/images/tyreee 1 (2).png">
                <div class="label">Headlights & Lighting</div>
                <div class="text">AmeriPLATINUM Coated Brake Kit</div>
                <div class="price">Ksh 62,200.00</div>
            </div>

      

        </div>

        
        <div class="items2">
            <div class="sample-one">
                <img src="/assets/images/tyreee 1 (1).png">
                <div class="label">Exhaust System</div>
                <div class="text">PIRELLI TIRES® SCORPION STR</div>
                <div class="price">Ksh 1,200.00</div>
          
            </div>

            <div class="sample-one">
                <img src="/assets/images/tyreee 1 (2).png">
                <div class="label">Headlights & Lighting</div>
                <div class="text">AmeriPLATINUM Coated Brake Kit</div>
                <div class="price">Ksh 62,200.00</div>
            </div>

        </div>

        </div>

    </div>

    <div class="flex2">
        <div class="page1">1</div>
        <div class="page2">2</div>
        <div class="next">Next</div>
    </div>

</div>
<app-footer></app-footer>