.container{
    width: 100%;
    margin: 1% 2%;
}

.sample-one{
    width: 100%;
    padding: 3% 0;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  
  .header{
    color: #000;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: normal;
    padding-bottom: 20px;
  }

  .details{
    padding-top: 40px;
  }

  .label{
    color: #808080;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 30px;
    padding-bottom: 20px;
    letter-spacing: 1px;
  }
  
  .title{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
  }
  
  .price{
    color: #F00;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.8px;

  }

  .flex{
    display: flex;
  }

  .number{
    display: flex;
    margin-left: 32%;
  }

  .remove{
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 35px;
    height: 38px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
  }

  .action{
    padding-top: 30px;
    display: flex;
    gap: 20px;
    margin-left: 32%;
  }

  .cart{
    width: 200px;
    height: 50px;
    background: #000;
    color: #fff;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .app{
    background: #23ED23;
    width: 200px;
    height: 50px;
    color: #FFF;
    gap: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
  }

  .icon{
    margin-right: -4%;
  }

  .description{
    padding: 10px 0;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-bottom: 1px solid grey;
  }

  .text2{
    padding: 5px;
  }

  .text2{
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.75px;
  }

  .btn{
    width: 174px;
    height: 51px;
    background: #FF2626;
    color: #FFF;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 12px;
    font-style: normal;
    border-radius: 0;
    font-weight: 500;
    line-height: normal;
    margin: 20px 0;
  }

  .popular{
    text-align: center;
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
    padding-bottom: 20px;
  }

  .flex3{
    padding-bottom: 80px;
  }

  .flex3 a{
    text-decoration: none;
  }

  .sample-two{
    width: 100%;
    border-radius: 15px;
    padding: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .sample-two img{

    margin-left: 50px;

  }
  .reviews{
    color: #000;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.75px;
  }

  .label2{
    color: #808080;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    padding-top: 30px;
    padding-bottom: 7px;  
  }

  .text3{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    padding-bottom: 7px;
  }

  @media only screen and (max-width: 850px) {
    .sample-one{
      width: 95%;
    }

    .flex3{ 
      margin: 0 5%;
    }

    .number{
      margin-left: 2%;
    }

    .action{
      margin-left: 2%;
    }

    .label{
      padding-left: 0;
    }

    .desc{
      width: 95%;
    }
  }

  @media only screen and (max-width: 500px) {
    .sample-one{
      width: 95%;
    }

    .flex3{ 
      margin: 0 5%;
    }

    .number{
      margin-left: 2%;
    }

    .action{
      margin-left: 2%;
    }

    .details{
      margin-left: 2%;
    }

    .label{
      padding-left: 0;
    }

    .title{
      font-size: 16px;
    }

    .cart{
      width: 120px;
      height: 50px;
      font-size: 12px;
      font-weight: 300;
    }

    .app{
      width: 140px;
      height: 50px;
      gap: 5px;
      font-size: 10px;
    }

    .desc{
      width: 95%;
    }
  }