.titles{
    display: flex;
    padding: 20px 0;
}

.title1{
    width: 659px;
    height: 60px;
    background: #FF2626;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.title2{
    width: 659px;
    height: 60px;
    background: #FFE6E6;
    color: #000;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.full{
    display: flex;
    gap: 40px;
}

.address{
    width: 700px;
    height: 800px;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(255, 38, 38, 0.80);
    margin-top: 20px;
    margin-bottom: 100px;
}

.address-content{
    padding-left: 50px;
}

.header{
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 10px 0;
}

.label{
    color: #000;
    font-family: Poppins;
    font-size:16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 10px 0;
}

input{
    width: 570px;
    height: 65px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.60);
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    outline: none;
    padding: 0 10px;
    font-family: Poppins;
    font-size:16px;
    font-style: normal;
    line-height: normal;
}

.placeholder{
    color: rgba(0, 0, 0, 0.50);
    font-family: Poppins;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 10px;
}

.deets{
    width: 570px;
    height: 100px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.60);
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    outline: none;
    padding: 0 10px;
    font-family: Poppins;
    font-size:16px;
    font-style: normal;
    line-height: normal;
}

.buttons{
    display: flex;
    gap: 50px;
    padding: 50px 0;
}

.back{
    width: 260px;
    height: 66px;
    border-radius: 15px;
    border: 1px solid #FF2626;
    background: #FFF;
    color: #FF2626;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    text-decoration: none;
}  

.continue{
    width: 260px;
    height: 66px;
    border-radius: 15px;
    background: #000;
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    text-decoration: none;
}

.confirmation{
    width: 448px;
    height: 455px;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(255, 38, 38, 0.80);
}

.order-deets{
    display: flex;
    gap: 150px;
    justify-content: center;
    align-items: center;
}

.title3{
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.edit{
    width: 100px;
    height: 54px;
    border-radius: 15px;
    border: 1px solid #FF2626;
    background: rgba(217, 217, 217, 0.00);
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    color: #FF2626;

}

.edit svg{
    padding-left: 5px;
}

.item-1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding: 5px 0;
}

.desc .name{
    color: #000;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.6px;
}

.desc .label{
    color: #000;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
}

.price{
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.7px;
    padding-left: 30px;
}

.item-1 img{
    width: 82.227px;
    height: 80px;
}

.total{
    display: flex;
    gap: 120px;
    padding: 40px;
}

.total .text{
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
}

.amount{
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.2px;
}