<app-nav2></app-nav2>

<div class="xl:w-11/12 xl:p-10 md:p-10 md:w-11/12 sm:p-4 sm-width">
    <div class="head-tabS">
      <div class="header text-lg">Your Orders</div>

      <div class="pt-8 w-96">
        <app-slidable-tab
          [tabs]="tabs"
          (tabIndexEmitter)="tabChange($event)"
        ></app-slidable-tab>
      </div>
  
      <div class="uc-tab-contenT">
        <div *ngIf="activatedTabIndex == 0">
          <div class="mt-8"><app-open-orders></app-open-orders></div>
        </div>
  
        <div *ngIf="activatedTabIndex == 1">
          <div class="mt-8">
            <app-closed-orders></app-closed-orders>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>